.Items-list {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  width: 50%;
}

.Items-list-item {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.Items-image {
  display: block;
  height: auto;
  max-height: 200px;
  max-width: 200px;
  width: auto;
}